fastapi
uvicorn
sqlalchemy
psycopg2-binary
langchain
langchain-community
langchain-classic
langchain-google-genai
langchain-text-splitters
langchain-core
pgvector
pdfplumber
reportlab
passlib
bcrypt==4.0.1
PyJWT
python-dotenv
python-multipart